{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

{% if listing %}
    <div class="row align-items-start">
        <div class="col-8">
            {% if is_bid_open %}
                {% if creator %}
                        <form action="{% url 'close_auction' listing.id %}" id="listingStatus" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">close auction</button>
                        </form>
                    {% elif watching %}
                        <form action="{% url 'rmv_from_watchlist' listing.id %}" id="watchlistForm" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">remove from watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'item_watchlist' listing.id %}" id="watchlistForm" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">add to watchlist</button>
                        </form>
                {% endif %}
            {% else %}
                {% if creator %}
                    <h1 class="text-center btn btn-primary">you closed the auction</h1>
                {% else %}
                    <h1 class="text-center btn btn-primary">the auction is closed</h1>
                {% endif %}
            {% endif %}
            
            <h2>Listing: {{ listing.title }}</h2>
            <img src="{% static 'auctions/' %}{{listing.title}}.jpg" alt="{{ listing.image_url }}" class="img-fluid pic"><br>
            <hr>
            <p>{{ listing.description }}</p>
            <h3><p>${{ max_bid }}</p></h3>
            
            {% if not creator %}
                {% if is_bid_open %}
                    <form action="{% url 'add_bid' listing.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.bid_amount.id_for_label }}">{{ num_of_bids }} bid(s) so far.</label>
                            <input type="number" class="form-control" id="{{ form.bid_amount.id_for_label }}" name="{{form.bid_amount.name}}" placeholder="Bid">
                        </div>
                        {% if form.bid_amount.errors %}
                        <p>we have errors</p>
                        <ul class="errorlist">
                            {% for error in form.bid_amount.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Place Bid</button>
                    </form>
                {% endif %}
            {% endif %}
            <h3>Details</h3>
            
            {% if winner is not None %}
                <h4>Winner: {{ winner }}</h4>
            {% endif %}
            <ul>
                <li>Listed by: {{listing.creator}}</li>
                <li>Category: {{listing.category}}</li>
            </ul>
        </div>

        <div class="col-4 second">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add a comment
            </button>
            <h4>The comment section</h4>
            <hr>
            {% if the_comments %}
            {% for a_comment in the_comments %}
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ a_comment.commenter }}</h5>
                    <p class="p_comments">{{ a_comment.the_comment }}</p>
                    <h6 class="card-subtitle mb-2 text-muted timestamp">{{ a_comment.timestamp }}</h6>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h1>There are no comments yet</h1>
            {% endif %}
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'comment_section' listing.id %}" id="commentsForm" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ comment_form.title.id_for_label }}">comment</label>
                                    <textarea class="form-control" id="{{ comment_form.the_comment.id_for_label }}" name="{{ comment_form.the_comment.name }}" rows="3" placeholder="your comment"></textarea>
                                    {{ comment_form.title.errors }}
                                    <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Send Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <h1 class="text-center" >Product Not Found</h1>
    </div>
{% endif %}

{% endblock %}